@windowWidth: 400px;
@windowHeight: 400px;

html, body {
  width: @windowWidth;
  height: @windowHeight;
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;
  position: relative;
}

#config-page {
  .project-list {
    position: absolute;
    width: 150px;
  }
  .current-project {
    background-color: green;
  }
  .project-profile {
    position: absolute;
    left: 150px;
    .project-name {
      padding: 10px;
      border: 1px solid #EEE;
    }
    .project-desc {
      padding: 10px;
      border: 1px solid #EEE;
    }
    .project-group {
      padding: 10px;
      border: 1px solid #EEE;
    }
    .link {
      padding: 10px;
    }
  }

}

#main-page {
  .search-panel {
    position: relative;
    .search {
      width: @windowWidth - 50;
    }
    .clear-search {
      position: absolute;
      right: 15px;
      text-align: center;
      cursor: pointer;
      color: #666666;
      &:hover {
        background-color: #EEEEEE;
      }
    }
  }
  .all-links {
    .link-name {
      margin-right: 5px;
      color: #3360ba;
    }
    .link-url {

    }
    .project-name {
      padding: 2px 0;
      margin: 3px 0;
      font-weight: bold;
      border-bottom: 1px solid #eeeeee;
    }
    .stars {
      font-size: 8px;
      color: #cd801e;
      padding-left: 5px;
    }
    .group-links {
      .group-name {
        padding: 2px 0;
      }
    }
  }
  .search-results {
    padding: 5px 0;
    .highlight-search-item {
      background-color: #EEEEEE;
    }
    .result-name {
      margin-right: 5px;
      color: #3360ba;
    }
    .result-item {
      padding: 3px 0;
    }
  }
  .setup {
    position: absolute;
    bottom: 0;
    width: @windowWidth - 10;
    .banner {
      color: #999999;
      text-align: center;
      &:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }
    }
    .setup-body {
      padding: 5px 3px;
      .url {
        width: @windowWidth - 90;
      }
    }
  }
}
