@windowWidth: 960px;
@windowHeight: 640px;
@sidebarWidth: 200px;
@bodyPadding: 5px;

html, body {
  width: @windowWidth;
  height: @windowHeight;
  padding: 0;
  margin: 0;
}

body {
  padding: @bodyPadding;
  position: relative;
  font-size: 14px;
  line-height: 150%;
}

.current-category {
  background-color: green;
}

#main-page {
  .header {
    position: relative;
    .config-panel {
      position: absolute;
      right: 10px;
      .done {
        background-color: cornflowerblue;
      }
    }
  }
  .search-panel {
    padding: 5px 0;
    position: relative;
    .search {
      width: @windowWidth - 50;
    }
    .clear-search {
      position: absolute;
      right: 15px;
      text-align: center;
      cursor: pointer;
      color: #666666;
      &:hover {
        background-color: #EEEEEE;
      }
    }
  }

  .search-results {
    padding: 5px 0;
    font-size: 12px;
    .highlight-search-item {
      background-color: #EEEEEE;
    }
    .result-name {
      margin-right: 5px;
      color: #3360ba;
    }
    .result-item {
      padding: 3px 0;
    }
  }

  .sidebar {
    width: @sidebarWidth;
    position: absolute;
    .project-list {
      .project {
        line-height: 30px;
        .project-name {
          padding-right: 5px;
        }
      }
      .current-project {
        background-color: #EEEEEE;
      }
    }
  }

  .project-profile {
    position: absolute;
    left: @sidebarWidth + @bodyPadding + 10px;
    width: 100%;
    .project-name {
      line-height: 40px;
      font-size: 30px;
      font-weight: bold;
      color: #333333;
    }
    .project-stars {
      line-height: 30px;
    }
    .project-description {
    }
    .project-group {
      margin-top: 20px;
      .group-name {
        color: #333333;
        line-height: 45px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .link {
      display: list-item;
      margin-left: 30px;
      .link-name {
        color: #666666;
        margin-right: 10px;
      }
      .link-url {
        color: #3360ba;
      }
      .link-description {
        color: #666666;
        background-color: #F6F6F6;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 12px;
      }
      .link-show-description {
        color: #999999;
        cursor: pointer;
        font-size: 10px;
        margin-left: 10px;
        text-align: center;
        &:hover {
          background-color: #EEEEEE;
        }
      }
    }
  }
  .stars {
    font-size: 8px;
    color: #cd801e;
  }
}

@dialogWidth: 200px;
@dialogHeight: 100px;
.dialog {
  width: @dialogWidth;
  height: @dialogHeight;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: @dialogHeight / 2;
  margin-left: @dialogWidth / 2;
}
